.savedCtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.loggedUserCtn {
  display: flex;
  gap: 1.3rem;
  background: var(--color-dark);
  width: fit-content;
  border: 4px solid var(--color-dark);
  border-radius: 6px 6px 0px 0px;
  padding: 0rem 0.5rem 0rem 0.5rem;
}
.loggedUserTxt {
  display: flex;
  align-items: center;
  font-family: var(--font-family-3);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-m);
  color: var(--color-light);
}
.logOutBtn {
  display: flex;
  margin: 0.3rem auto;
  align-items: center;
  justify-content: center;
  height: 20px;
  background: #FD7D24;
  box-shadow: 0px 4px 0px #D56723;
  border-radius: 5px;
  padding: 0 0.7em;
  cursor: pointer;

  font-family: var(--font-family-3);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  color: #d45607;
}

.logOutBtn:active {
  box-shadow: 0px 2px 0px #D56723;
  transform: translateY(2px);
} 

.savedPokemons {
  width: 310px;
  background-color: var(--color-light);
  border: 4px solid var(--color-dark);
  border-radius: 0px 6px 6px 6px;
}

.yourPokesTxt {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  width: fit-content;
  font-family: var(--font-family-3);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-s);
  color: var(--color-dark);
}

.liCtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 10px auto;
  width: 290px;
  background: var(--color-dark);
  border: 1px solid var(--color-dark);
  border-radius: 5px;
}

.pokeInfoCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-height: 90px;
}

.pokeIdHash {
  display: flex;
  position: relative;
  bottom: 10px;
  min-width: 17px;
  font-family: var(--font-family-3);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-s);
  align-items: center;
  text-align: center;
  align-self: center;
  color: var(--color-light);
  transform: rotate(270deg);
}

.pokeId {
  display: flex;
  position: relative;
  min-width: 17px;
  font-family: var(--font-family-3);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
  align-items: center;
  text-align: center;
  color: var(--color-light);
}

.pokeName {
  display: flex;
  font-family: var(--font-family-3);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-g);
  align-items: center;
  text-align: center;

  color: var(--color-bg);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 3px;
  margin-top: 0px;
}

.spriteBg {
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  border-radius: 4px 0px 0px 4px;
  height: 90px;
  width: 90px;
}

.pokeImg {
  width: 92px;
  height: 92px;
}

.typeCtn {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.pokeType {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;

  font-family: var(--font-family-3);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-s);
}

.btn-grass {
  color: var(--color-dark);
  background-color: var(--type-color-1);
}
.btn-poison {
  color: var(--color-light);
  background-color: var(--type-color-2);
}
.btn-fire {
  color: var(--color-light);
  background-color: var(--type-color-3);
}
.btn-psychic {
  color: var(--color-light);
  background-color: var(--type-color-4);
}
.btn-flying {
  color: var(--color-dark);
  background-color: var(--type-color-5);
}
.btn-ice {
  color: var(--color-dark);
  background-color: var(--type-color-6);
}
.btn-water {
  color: var(--color-light);
  background-color: var(--type-color-7);
}

.btn-eletric {
  color: var(--color-dark);
  background-color: var(--type-color-8);
}
.btn-rock {
  color: var(--color-light);
  background-color: var(--type-color-9);
}

.btn-normal {
  color: var(--color-dark);
  background-color: var(--type-color-10);
}

.btn-fairy {
  color: var(--color-dark);
  background-color: var(--type-color-11);
}

.btn-steel {
  color: var(--color-dark);
  background-color: var(--type-color-12);
}
.btn-ghost {
  color: var(--color-light);
  background-color: var(--type-color-13);
}
.btn-dark {
  color: var(--color-light);
  background-color: var(--type-color-14);
}
.btn-dragon {
  color: var(--color-light);
  background-color: var(--type-color-15);
}
.btn-fighting {
  color: var(--color-light);
  background-color: var(--type-color-16);
}
.btn-ground {
  color: var(--color-dark);
  background-color: var(--type-color-17);
}
.btn-bug {
  color: var(--color-light);
  background-color: var(--type-color-18);
}
